img.banner {
    float:left;
}

h1.banner {
    font-size:4.8em;
    font-weight:lighter;
    font-family:Georgia,Times,Serif;
    text-align:center;
    width:7em;
    margin:0em;
}

.login {
    float:right;
    border:none;
    margin-right:.5em;
}

form.login {
    width:14em;
}

.login input {
    height:2.4em;
    width:100%;
    margin-top:.5em;
}

.login input[type=email],
.login input[type=password] {
    background:#b6d7a8;
    padding:.6em;
}

.login input[type=submit] {
    float:right;
    width:6em;
    background:#274e13;
    color:white;
    font-weight:bold;
}

.login input::-webkit-input-placeholder {
    color:black;
}

.middle {
    width:740px;
}

div.nav {
    font-size:1.4em;
    text-align:right;
    padding-right:.4em;
    margin-bottom:.4em;
}

a.nav {
    margin-left:.3em;
    margin-right:.3em;
    text-decoration:none;
    color:#274e13;
    font-family:sans-serif;
}

a.nav:hover {
    text-decoration:underline;
}

.center {
    margin-left:auto;
    margin-right:auto;
}

div.container {
    width:1024px;
}

div.stripe {
    background-color:#b6d7a8;
    background-image:url('images/banner.jpg');
    background-repeat:repeat-x;
    margin-bottom:1em;
    border-bottom:.15em solid #666666;
}

.footer {
    color:#274e13;
}

div.footer {
    text-align:center;
}

div.foot-content {
    margin-top:auto;
    margin-bottom:auto;
    width:33%;
}

#copyright {
    float:left;
}

#credit {
    float:right;
}