div.banner {
    height:12em;
}

img.banner {
    float:left;
}

#bannerText {
    width:28em;
    margin-top:1em;
}

.login {
    padding:.6em;
    margin-top:.5em;
    float:right;
    border:none;
    margin-right:.5em;
}

span.login {
    padding:0em;
    color:red;
    font-weight:bold;
    font-size:1.3em;
}

.login input {
    height:2.5em;
    width:80%;
}

.login input[type=email],
.login input[type=password] {
    background:#b6d7a8;
}

.login input[type=submit] {
    padding:0em;
    float:right;
    width:6em;
    background:#274e13;
    color:white;
    font-weight:bold;
}

.login input::-webkit-input-placeholder {
    color:black;p
}

form.login {
    padding:0em;
    margin-top:0em;
    width:17em;
}

.middle {
    width:740px;
}

div.nav {
    font-size:1.4em;
    text-align:right;
    padding-right:.4em;
    margin-bottom:.4em;
}

a.nav {
    margin-left:.3em;
    margin-right:.3em;
    text-decoration:none;
    color:#274e13;
    font-family:sans-serif;
}

a.nav:hover {
    text-decoration:underline;
}

.center {
    margin-left:auto;
    margin-right:auto;
}

div.container {
    width:1024px;
}

div.stripe {
    padding-top:2em;
    background-color:#b6d7a8;
    background-image:url('images/banner.jpg');
    background-repeat:repeat-x;
    margin-bottom:1em;
    border-bottom:.15em solid #666666;
}

div.slide {
    height:493px;
    background:white;
    border:.15em solid #666666;
    border-bottom:none;
}

.footer {
    color:#274e13;
}

div.footer {
    text-align:center;
}

div.foot-content {
    margin-top:auto;
    margin-bottom:auto;
    width:33%;
}

#copyright {
    float:left;
}

#credit {
    float:right;
}

#memberLinks {
    float:left;
    height:100%;
    padding-right:.5em;
}

#memberContent {
    padding-left:.5em;
    float:left;
}